{% extends 'base.html'%} 

{% block content %}
<div class="container">
  <div class="row">
    {% if images%}
    <div class="jumbotron">
      <h2>Found {{ images|length }} of searched term {{message}}</h2>
    </div>
    {% else %}
      <h2> Found 0 images for the searched term {{message}}</h2>
    {% endif %}
  </div>

  <div class="row">
    {% for image in images %}
    <div class="col-md-4">
        <img style=" margin-top: 30px; margin-bottom: 30px; width:400px; height:400px;" src="{{image.image.url}}" class="img img-responsive card-img-top img-fluid" alt="Image" data-toggle="modal" data-target="#{{image.id}}">

      <!--Modal -->
        <div style="max-width:80%; max-height:60%; padding-top:100px;" class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="imageTitle" style="text-align:center"><strong>{{image.name}}</strong></h3>
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <img src="{{image.image.url}}" class=" img img-responsive img-fluid" alt="Image">
              <br><strong>Description</strong><br>
              {{image.description}}
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
